<div class="row">
    <div class="col-md-4">
      <h3>Employee Details</h3>
      <div class="outerDiv">
        <div class="row">
            <div class="col-md-4">
              <label>Name</label>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control"/>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <label>Technology</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <label>Designation</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <label>Skills</label>
            </div>
            <div class="col-md-4">
              <select class="form-control">
                <option>Select</option>
                <option>JavaScript</option>
                <option>Angular</option>
                <option>Java</option>
                <option>Full-Stack</option>
              </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <label>Expertise in </label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <label>Certification</label>
            </div>
            <div class="col-md-8">
              <input type="radio"/>Yes
              <input type="radio"/>No
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
            
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <label>Company</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
              <label>Description</label>
              <textarea rows="3" class="form-control"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
         
            </div>
            <div class="col-md-6 text-end">
                <button class="btn btn-secondary btn-sm">Cancel</button>
                <button class="btn btn-secondary btn-sm mx-2">Save</button>
            </div>
        </div>

      </div>
    </div>
    <div class="col-md-8">
      <h3>Employee List</h3>
      <div class="outerDiv">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Select</option>
                        <option>JavaScript</option>
                        <option>Angular</option>
                        <option>Java</option>
                        <option>Full-Stack</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Name</th>
                                <th>Technology</th>
                                <th>Designation</th>
                                <th>Skills</th>
                                <th>Expertise</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
      </div>
       
    </div>
</div>
